.intro{
  margin: 92px auto 0 auto;
  max-width: 984px;
}
@media screen and (min-width: 1024px) and (max-width: 1079px){
  .intro{
    margin-left: 48px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
  .intro{
    margin: 0 auto;
    margin-top: 88px;
    max-width: 720px;
  }
}
@media screen  and (max-width: 767px){
  .intro{
    margin: 0 auto;
    margin-top: 64px;
    max-width: 288px;
  }
}
