.cover__title{
  margin-top: 245px;
  margin-bottom: 32px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  width: 560px;
  z-index: 1;
}
@media screen and (min-width: 1024px) and (max-width: 1079px){
  .cover__title{
    margin-top: 195px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
  .cover__title{
    margin-top: 115px;
  }
}
@media screen  and (max-width: 767px){
  .cover__title{
    margin-top: 33px;
    margin-bottom: 16px;
    font-style: normal;
    font-size: 32px;
    line-height: 35px;
    top: 33px;
    right: 16px;
    max-width: 288px;
  }
}
