.place{
  width: 100%;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-areas:
  "title link"
  "image text";
  gap: 46px 40px;
}
.place:last-child{
  margin-bottom: 0;
}
@media screen and (min-width: 1024px) and (max-width: 1079px){
  .place{
    grid-template-columns: 440px 1fr;
    gap: 48px 32px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
  .place{
    margin-bottom: 73px;
    grid-template-columns: 340px 1fr;
    gap: 48px 28px;
  }
}
@media screen  and (max-width: 767px){
  .place{
    margin: 0;
    margin-bottom: 50px;
    grid-template-columns: 320px;
    grid-template-areas:
    "title"
    "link"
    "image"
    "text";
    gap: 32px;
  }
}
