.footer{
  margin: 92px auto 24px auto;
  max-width: 1184px;
  display: flex;
  gap: 18px;
  justify-content: space-between;
}
@media screen and (min-width: 1024px) and (max-width: 1079px){
  .footer{
  max-width: 928px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
  .footer{
    margin: 88px auto 24px auto;
    max-width: 720px;
  }
}
@media screen  and (max-width: 767px){
  .footer{
   margin: 64px auto 24px 16px;
   gap: 48px;
   flex-direction: column;
   flex-wrap: wrap;
  }
}
